FORMAT: 1A
HOST: http://api.wcp.vps321.xiag.ch/

# Swisscom web customer portal, mortgage component
API documentation for **Swisscom WCP Mortgage** application.

# Group getCsrByPortfolioID

getCsrByPortfolioID

## getCsrByPortfolioID [/financing/getCsrByPortfolioID/{portfolioId}]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/getCsrByPortfolioID>; rel="self"

    + Body

{
        "type": "object",
        "properties": {
                "csr": {
                        "title": "CSR",
                        "description": "Customer Support Representative object",
                        "type": "object",
                        "properties": {
                                "id": {
                                        "title": "Id",
                                        "description": "CSR identifier",
                                        "type": [
                                                "string",
                                                "number"
                                        ]
                                },
                                "firstName": {
                                        "title": "First name",
                                        "description": "Customer first name",
                                        "type": "string"
                                },
                                "lastName": {
                                        "title": "Last name",
                                        "description": "Customer last name",
                                        "type": "string"
                                },
                                "phoneNumber": {
                                        "title": "Phone number",
                                        "description": "Customer phone number",
                                        "type": "string"
                                },
                                "faxNumber": {
                                        "title": "Fax number",
                                        "description": "Customer fax number",
                                        "type": "string"
                                },
                                "imageURI": {
                                        "title": "Image URI",
                                        "description": "Customer photo",
                                        "type": "string"
                                }
                        },
                        "required": [
                                "id",
                                "firstName",
                                "lastName",
                                "phoneNumber",
                                "faxNumber",
                                "imageURI"
                        ],
                        "additionalProperties": false
                }
        },
        "required": [],
        "additionalProperties": false,
        "$schema": "http://json-schema.org/draft-04/schema#"
}

### Call service [GET]

+ Parameters

    + portfolioId (optional, string, `34231`) ... Portfolio identifier

Return mortgage collection available for current customer

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/getCsrByPortfolioID)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/getCsrByPortfolioID>; rel="self"

    + Body

{
    "response": {
        "csr": {
            "id": "1",
            "firstName": "Thomas",
            "lastName": "Schibler",
            "phoneNumber": "058 800 67 02",
            "faxNumber": "058 800 67 01",
            "imageURI": "//www.szkb.ch/images/default-source/mitarbeiterfotos/48864678216909.jpg"
        }
    }
}

# Group sendCsrRequest

sendCsrRequest

## sendCsrRequest [/financing/sendCsrRequest]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/sendCsrRequest>; rel="self"

    + Body

{
        "type": "object",
        "properties": {
                "success": {
                        "title": "Success",
                        "description": "",
                        "type": "boolean"
                }
        },
        "required": [],
        "additionalProperties": false,
        "$schema": "http://json-schema.org/draft-04/schema#"
}

### Call service [GET]

Return mortgage collection available for current customer

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/sendCsrRequest)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/sendCsrRequest>; rel="self"

    + Body

{
    "error": "schema mismatch: Additional properties not allowed"
}

# Group getPortfolio

getPortfolio

## getPortfolio [/financing/getPortfolio]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/getPortfolio>; rel="self"

    + Body

{
        "type": "object",
        "properties": {
                "portfolio": {
                        "title": "Portfolio",
                        "description": "Portfolio object",
                        "type": "object",
                        "properties": {
                                "customerId": {
                                        "title": "Customer id",
                                        "description": "Customer identifier",
                                        "type": [
                                                "string",
                                                "number"
                                        ]
                                },
                                "creditAccount": {
                                        "title": "Credit account",
                                        "description": "Credit account",
                                        "type": "string"
                                },
                                "owner": {
                                        "title": "Owner",
                                        "description": "Owner name",
                                        "type": "string"
                                },
                                "productId": {
                                        "title": "Product id",
                                        "description": "Product identifier",
                                        "type": [
                                                "string",
                                                "number"
                                        ]
                                },
                                "rate": {
                                        "title": "Rate",
                                        "description": "Portfolio rate",
                                        "type": [
                                                "string",
                                                "number"
                                        ]
                                },
                                "currency": {
                                        "title": "Currency",
                                        "description": "",
                                        "type": "string"
                                },
                                "limit": {
                                        "title": "Limit",
                                        "description": "Credit limit",
                                        "type": "number"
                                },
                                "balance": {
                                        "title": "Balance",
                                        "description": "Current balance",
                                        "type": "number"
                                }
                        },
                        "required": [
                                "customerId",
                                "creditAccount",
                                "owner",
                                "productId",
                                "rate",
                                "currency",
                                "limit",
                                "balance"
                        ],
                        "additionalProperties": false
                }
        },
        "required": [],
        "additionalProperties": false,
        "$schema": "http://json-schema.org/draft-04/schema#"
}

### Call service [GET]

Return mortgage collection available for current customer

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/getPortfolio)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/getPortfolio>; rel="self"

    + Body

{
    "error": "schema mismatch: Additional properties not allowed"
}

# Group getMortgages

getMortgages

## getMortgages [/financing/getMortgages]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/getMortgages>; rel="self"

    + Body

{
        "type": "object",
        "properties": {
                "mortgages": {
                        "title": "Mortgages",
                        "description": "Array of mortgages",
                        "type": "array",
                        "items": {
                                "title": "Mortgage",
                                "description": "Mortgage object available for customer",
                                "type": "object",
                                "properties": {
                                        "id": {
                                                "title": "Id",
                                                "description": "Mortgage identifier",
                                                "type": [
                                                        "string",
                                                        "number"
                                                ]
                                        },
                                        "productId": {
                                                "title": "Product id",
                                                "description": "Product identifier",
                                                "type": [
                                                        "string",
                                                        "number"
                                                ]
                                        },
                                        "currency": {
                                                "title": "Currency",
                                                "description": "ISO 4217 Currency Code",
                                                "type": "string",
                                                "format": "iso4217",
                                                "pattern": "^[A-Z]{3}$"
                                        },
                                        "limit": {
                                                "title": "Limit",
                                                "description": "Total limit",
                                                "type": "number"
                                        },
                                        "balance": {
                                                "title": "Balance",
                                                "description": "Current balance",
                                                "type": "number"
                                        },
                                        "owner": {
                                                "title": "Owner",
                                                "description": "Owner info",
                                                "type": "object",
                                                "properties": {
                                                        "id": {
                                                                "title": "Id",
                                                                "description": "Owner id",
                                                                "type": "string"
                                                        },
                                                        "name": {
                                                                "title": "Name",
                                                                "description": "Owner name",
                                                                "type": "string"
                                                        }
                                                },
                                                "required": [
                                                        "id",
                                                        "name"
                                                ]
                                        },
                                        "object": {
                                                "title": "Object",
                                                "description": "Object info",
                                                "type": "object",
                                                "properties": {
                                                        "name": {
                                                                "title": "Name",
                                                                "description": "Object name",
                                                                "type": "string"
                                                        },
                                                        "additional": {
                                                                "title": "Additional",
                                                                "description": "Additional info",
                                                                "type": "string"
                                                        }
                                                },
                                                "required": [
                                                        "name"
                                                ],
                                                "additionalProperties": false
                                        },
                                        "products": {
                                                "title": "Products",
                                                "description": "Products array",
                                                "type": "array",
                                                "items": {
                                                        "title": "Product",
                                                        "description": "",
                                                        "type": "object",
                                                        "properties": {
                                                                "id": {
                                                                        "title": "Id",
                                                                        "description": "Product identifier",
                                                                        "type": [
                                                                                "string",
                                                                                "number"
                                                                        ]
                                                                },
                                                                "rate": {
                                                                        "title": "Rate",
                                                                        "description": "Product rate",
                                                                        "type": "string"
                                                                },
                                                                "amount": {
                                                                        "title": "Amount",
                                                                        "description": "Credit amount",
                                                                        "type": "number"
                                                                },
                                                                "valid": {
                                                                        "title": "Valid",
                                                                        "description": "Credit period",
                                                                        "type": "object",
                                                                        "properties": {
                                                                                "from": {
                                                                                        "title": "From",
                                                                                        "description": "Credit period start",
                                                                                        "type": "string"
                                                                                },
                                                                                "to": {
                                                                                        "title": "To",
                                                                                        "description": "Credit period end",
                                                                                        "type": "string"
                                                                                }
                                                                        },
                                                                        "required": [
                                                                                "from",
                                                                                "to"
                                                                        ],
                                                                        "additionalProperties": false
                                                                },
                                                                "offerId": {
                                                                        "type": [
                                                                                "string",
                                                                                "number"
                                                                        ]
                                                                }
                                                        },
                                                        "required": [
                                                                "id",
                                                                "rate",
                                                                "amount",
                                                                "valid"
                                                        ],
                                                        "additionalProperties": false
                                                },
                                                "minItems": 1,
                                                "uniqueItems": true
                                        }
                                },
                                "required": [
                                        "id",
                                        "productId",
                                        "currency",
                                        "limit",
                                        "balance",
                                        "owner",
                                        "object",
                                        "products"
                                ],
                                "additionalProperties": false
                        }
                }
        },
        "required": [],
        "additionalProperties": false,
        "$schema": "http://json-schema.org/draft-04/schema#"
}

### Call service [GET]

Return mortgage collection available for current customer

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/getMortgages)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/getMortgages>; rel="self"

    + Body

{
    "error": "schema mismatch: Additional properties not allowed"
}

# Group getReplacementProductsByOfferId

getReplacementProductsByOfferId

## getReplacementProductsByOfferId [/financing/getReplacementProductsByOfferId/{offerId}]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/getReplacementProductsByOfferId>; rel="self"

    + Body

{
        "type": "object",
        "properties": {
                "replacementProducts": {
                        "title": "Replacement products",
                        "description": "Replacement products by offer id",
                        "type": "array",
                        "items": {
                                "title": "Offer",
                                "description": "Offer object",
                                "type": "object",
                                "properties": {
                                        "id": {
                                                "title": "Id",
                                                "description": "Offer idintifier",
                                                "type": [
                                                        "string",
                                                        "number"
                                                ]
                                        },
                                        "duration": {
                                                "title": "Duration",
                                                "description": "Credit duration",
                                                "type": "number"
                                        },
                                        "actualMargin": {
                                                "title": "Actual margin",
                                                "description": "Actual margin",
                                                "type": "string"
                                        },
                                        "minimalAmount": {
                                                "title": "Minimal amount",
                                                "description": "Minimal amount",
                                                "type": "number"
                                        }
                                },
                                "required": [
                                        "id",
                                        "duration",
                                        "actualMargin",
                                        "minimalAmount"
                                ],
                                "additionalProperties": false
                        }
                }
        },
        "required": [],
        "additionalProperties": false,
        "$schema": "http://json-schema.org/draft-04/schema#"
}

### Call service [GET]

+ Parameters

    + offerId (required, string, `21137`) ... 

Return mortgage collection available for current customer

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/getReplacementProductsByOfferId)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/getReplacementProductsByOfferId>; rel="self"

    + Body

{
    "error": "offers not found"
}

# Group getProductsData

getProductsData

## getProductsData [/financing/getProductsData/{productsIds}]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/getProductsData>; rel="self"

    + Body

{
        "type": "array",
        "items": {
                "title": "Product title",
                "description": "Product title object",
                "type": "object",
                "properties": {
                        "id": {
                                "title": "Id",
                                "description": "Product identifier",
                                "type": [
                                        "string",
                                        "number"
                                ]
                        },
                        "title": {
                                "title": "Title",
                                "description": "Product title",
                                "type": "string"
                        }
                },
                "required": [
                        "id",
                        "title"
                ],
                "additionalProperties": false
        },
        "$schema": "http://json-schema.org/draft-04/schema#"
}

### Call service [GET]

+ Parameters

    + productIds (required, array, ["873421","123412"]) ... Products ids

Return mortgage collection available for current customer

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/getProductsData)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/getProductsData>; rel="self"

    + Body

{
    "error": "schema mismatch: Missing required property: productIds"
}

# Group getMortgageConfiguration

getMortgageConfiguration

## getMortgageConfiguration [/financing/getMortgageConfiguration/{mortgageId}]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/getMortgageConfiguration>; rel="self"

    + Body

{
        "type": "object",
        "properties": {
                "mortgage": {
                        "type": "object",
                        "properties": {
                                "initial": {
                                        "title": "Initial",
                                        "description": "Initial configurations array",
                                        "type": "array",
                                        "items": {
                                                "title": "Product",
                                                "description": "",
                                                "type": "object",
                                                "properties": {
                                                        "id": {
                                                                "title": "Id",
                                                                "description": "Product identifier",
                                                                "type": [
                                                                        "string",
                                                                        "number"
                                                                ]
                                                        },
                                                        "rate": {
                                                                "title": "Rate",
                                                                "description": "Product rate",
                                                                "type": "string"
                                                        },
                                                        "amount": {
                                                                "title": "Amount",
                                                                "description": "Credit amount",
                                                                "type": "number"
                                                        },
                                                        "valid": {
                                                                "title": "Valid",
                                                                "description": "Credit period",
                                                                "type": "object",
                                                                "properties": {
                                                                        "from": {
                                                                                "title": "From",
                                                                                "description": "Credit period start",
                                                                                "type": "string"
                                                                        },
                                                                        "to": {
                                                                                "title": "To",
                                                                                "description": "Credit period end",
                                                                                "type": "string"
                                                                        }
                                                                },
                                                                "required": [
                                                                        "from",
                                                                        "to"
                                                                ],
                                                                "additionalProperties": false
                                                        },
                                                        "offerId": {
                                                                "type": [
                                                                        "string",
                                                                        "number"
                                                                ]
                                                        }
                                                },
                                                "required": [
                                                        "id",
                                                        "rate",
                                                        "amount",
                                                        "valid"
                                                ],
                                                "additionalProperties": false
                                        }
                                }
                        },
                        "required": [
                                "initial"
                        ]
                }
        },
        "$schema": "http://json-schema.org/draft-04/schema#"
}

### Call service [GET]

+ Parameters

    + mortgageId (required, string, `17146`) ... Mortgage identifier

Return mortgage collection available for current customer

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/getMortgageConfiguration)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/getMortgageConfiguration>; rel="self"

    + Body

{
    "error": "mortgage not found"
}

# Group setMortgageConfiguration

setMortgageConfiguration

## setMortgageConfiguration [/financing/setMortgageConfiguration]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/setMortgageConfiguration>; rel="self"

    + Body

{
        "type": "object",
        "properties": {
                "success": {
                        "title": "Success",
                        "description": "Success save flag",
                        "type": [
                                "boolean"
                        ]
                }
        },
        "required": [
                "success"
        ],
        "additionalProperties": false,
        "$schema": "http://json-schema.org/draft-04/schema#"
}

### Call service [POST]

+ Parameters

    + mortgageId (required, string, `17146`) ... Mortgage
    + configuration (required, object, {"test":123}) ... 

Return mortgage collection available for current customer

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/setMortgageConfiguration)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/setMortgageConfiguration>; rel="self"

    + Body

{
    "response": {
        "success": true
    }
}

# Group getCurrentYear

getCurrentYear

## getCurrentYear [/financing/getCurrentYear]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/getCurrentYear>; rel="self"

    + Body

{
        "type": "object",
        "properties": {
                "year": {
                        "title": "Year",
                        "description": "Current year",
                        "type": [
                                "number"
                        ]
                }
        },
        "required": [
                "year"
        ],
        "additionalProperties": false,
        "$schema": "http://json-schema.org/draft-04/schema#"
}

### Call service [GET]

Return mortgage collection available for current customer

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/getCurrentYear)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/getCurrentYear>; rel="self"

    + Body

{
    "error": "schema mismatch: Additional properties not allowed"
}
