FORMAT: 1A
HOST: http://api.wcp.vps321.xiag.ch/

# Swisscom web customer portal, mortgage component
API documentation for **Swisscom WCP Mortgage** application.

# Group CSR

Customer Support Representatives

## csr [/csr/{csrId}]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/csr>; rel="canonical", <http://api.wcp.vps321.xiag.ch/csr/1>; rel="self"

    + Body

            {
                    "title": "CSR",
                    "description": "Customer Support Representative object",
                    "type": "object",
                    "properties": {
                            "id": {
                                    "title": "Id",
                                    "description": "CSR identifier",
                                    "type": [
                                            "string",
                                            "number"
                                    ]
                            },
                            "firstName": {
                                    "title": "First name",
                                    "description": "Agent first name",
                                    "type": "string"
                            },
                            "lastName": {
                                    "title": "Last name",
                                    "description": "Agent last name",
                                    "type": "string"
                            },
                            "role": {
                                    "title": "Role",
                                    "description": "Agent role",
                                    "type": "string"
                            },
                            "phoneNumber": {
                                    "title": "Phone number",
                                    "description": "Agent phone number",
                                    "type": "string",
                                    "format": "phone"
                            },
                            "faxNumber": {
                                    "title": "Fax number",
                                    "description": "Agent fax number",
                                    "type": "string",
                                    "format": "phone"
                            },
                            "email": {
                                    "title": "E-mail",
                                    "description": "Agent e-mail",
                                    "type": "string",
                                    "format": "email"
                            },
                            "imageURI": {
                                    "title": "Image URI",
                                    "description": "Agent photo",
                                    "type": "string",
                                    "format": "uri"
                            }
                    },
                    "required": [
                            "id",
                            "firstName",
                            "lastName",
                            "role",
                            "phoneNumber",
                            "faxNumber",
                            "email",
                            "imageURI"
                    ],
                    "$schema": "http://json-schema.org/draft-04/schema#"
            }

### Get CSR [GET]

Return customer support representatives by CSR identifier

+ Parameters

    + csrId (required,string, `1`) ... CSR identifier

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/csr)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/csr/1>; rel="self"

    + Body

            {
                "id": "1",
                "firstName": "Jacqueline",
                "lastName": "Bamert",
                "role": "Kundenberaterin",
                "phoneNumber": "+41 58 800 24 14",
                "faxNumber": "058 800 67 01",
                "email": "jacqueline.bamert@szkb.ch",
                "imageURI": "//www.szkb.ch/images/default-source/mitarbeiterfotos/192613.jpg"
            }

### Send CSR request [POST]

Send request for customer support representatives and return status

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/csr)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/csr>; rel="self"

    + Body

            true

# Group Portfolio

Portfolios collection

## portfolio [/portfolio]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/portfolio>; rel="canonical", <http://api.wcp.vps321.xiag.ch/portfolio>; rel="self"

    + Body

            {
                    "title": "Portfolio",
                    "description": "Portfolio object",
                    "type": "object",
                    "properties": {
                            "customerId": {
                                    "title": "Customer id",
                                    "description": "Customer identifier",
                                    "type": [
                                            "string",
                                            "number"
                                    ]
                            },
                            "csrId": {
                                    "title": "CSR id",
                                    "description": "Default CSR for customer",
                                    "type": [
                                            "string",
                                            "number"
                                    ]
                            },
                            "creditAccount": {
                                    "title": "Credit account",
                                    "description": "Credit account",
                                    "type": "string"
                            },
                            "owner": {
                                    "title": "Owner",
                                    "description": "Owner name",
                                    "type": "string"
                            },
                            "productId": {
                                    "title": "Product id",
                                    "description": "Product identifier",
                                    "type": [
                                            "string",
                                            "number"
                                    ]
                            },
                            "limit": {
                                    "title": "Limit",
                                    "description": "Credit limit",
                                    "type": "number",
                                    "minimum": 0,
                                    "exclusiveMinimum": true
                            },
                            "balance": {
                                    "title": "Balance",
                                    "description": "Current balance",
                                    "type": "number"
                            }
                    },
                    "required": [
                            "customerId",
                            "csrId",
                            "creditAccount",
                            "owner",
                            "productId",
                            "limit",
                            "balance"
                    ],
                    "$schema": "http://json-schema.org/draft-04/schema#"
            }

### Get portfolio [GET]

Return portfolio of current customer

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/portfolio)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/portfolio>; rel="self"

    + Body

            {
                "customerId": "1153623-11",
                "csrId": "2",
                "creditAccount": "456373-3042",
                "owner": "Grätzer-Inderbitzin M. und S.",
                "productId": "100",
                "rate": "multiple",
                "limit": 746000,
                "balance": -576000
            }

# Group Financing

Managing **Financing** objects

## financing [/financing]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing>; rel="self"

    + Body

            {
                    "title": "Financing",
                    "description": "Array of financing",
                    "type": "array",
                    "items": {
                            "title": "Financing",
                            "description": "Financing object available for customer",
                            "type": "object",
                            "properties": {
                                    "id": {
                                            "title": "Id",
                                            "description": "Financing identifier",
                                            "type": [
                                                    "string",
                                                    "number"
                                            ]
                                    },
                                    "productDataId": {
                                            "title": "Product id",
                                            "description": "Product identifier",
                                            "type": [
                                                    "string",
                                                    "number"
                                            ]
                                    },
                                    "csrId": {
                                            "title": "Id",
                                            "description": "CSR identifier",
                                            "type": [
                                                    "string",
                                                    "number"
                                            ]
                                    },
                                    "currency": {
                                            "title": "Currency",
                                            "description": "ISO 4217 Currency Code",
                                            "type": "string",
                                            "format": "iso4217",
                                            "pattern": "^[A-Z]{3}$"
                                    },
                                    "limit": {
                                            "title": "Limit",
                                            "description": "Total limit",
                                            "type": "number",
                                            "minimum": 0
                                    },
                                    "balance": {
                                            "title": "Balance",
                                            "description": "Current balance",
                                            "type": "number"
                                    },
                                    "owner": {
                                            "title": "Owner",
                                            "description": "Owner info",
                                            "type": "object",
                                            "properties": {
                                                    "id": {
                                                            "title": "Id",
                                                            "description": "Owner id",
                                                            "type": "string"
                                                    },
                                                    "name": {
                                                            "title": "Name",
                                                            "description": "Owner name",
                                                            "type": "string"
                                                    }
                                            },
                                            "required": [
                                                    "id",
                                                    "name"
                                            ]
                                    },
                                    "object": {
                                            "title": "Object",
                                            "description": "Object info",
                                            "type": "object",
                                            "properties": {
                                                    "name": {
                                                            "title": "Name",
                                                            "description": "Object name",
                                                            "type": "string"
                                                    },
                                                    "address": {
                                                            "title": "Address",
                                                            "description": "Object address",
                                                            "type": "object",
                                                            "properties": {
                                                                    "city": {
                                                                            "title": "City",
                                                                            "description": "City",
                                                                            "type": "string"
                                                                    },
                                                                    "street": {
                                                                            "title": "Street",
                                                                            "description": "Street",
                                                                            "type": "string"
                                                                    },
                                                                    "zip": {
                                                                            "title": "Zip",
                                                                            "description": "Zip",
                                                                            "type": "string"
                                                                    }
                                                            },
                                                            "required": [
                                                                    "city",
                                                                    "street",
                                                                    "zip"
                                                            ]
                                                    },
                                                    "additional": {
                                                            "title": "Additional",
                                                            "description": "Additional info",
                                                            "type": "string"
                                                    }
                                            },
                                            "required": [
                                                    "name",
                                                    "address"
                                            ]
                                    },
                                    "prolong": {
                                            "title": "Prolongation flag",
                                            "description": "This financing have a mortgage to prolong",
                                            "type": "boolean"
                                    }
                            },
                            "required": [
                                    "id",
                                    "productDataId",
                                    "currency",
                                    "limit",
                                    "balance",
                                    "owner",
                                    "object"
                            ]
                    },
                    "minItems": 1,
                    "$schema": "http://json-schema.org/draft-04/schema#"
            }

### Get financing [GET]

Return an array of financing available for the customer

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing>; rel="self"

    + Body

            [
                {
                    "id": "17145",
                    "productDataId": "100",
                    "csrId": "1",
                    "currency": "CHF",
                    "limit": 800000,
                    "balance": -800000,
                    "owner": {
                        "id": "131841-3006",
                        "name": "Hans Muster"
                    },
                    "object": {
                        "name": "Darlehen 928342-2342",
                        "address": {
                            "street": "Kurzstrasse 22",
                            "zip": "7770",
                            "city": "St.Gallen"
                        }
                    },
                    "prolong": true
                },
                {
                    "id": "17146",
                    "productDataId": "100",
                    "currency": "CHF",
                    "limit": 1200000,
                    "balance": -1200000,
                    "owner": {
                        "id": "131841-4982",
                        "name": "Hans Muster"
                    },
                    "object": {
                        "name": "Darlehen 922231-0092",
                        "address": {
                            "street": "Kurzstrasse 2",
                            "zip": "7770",
                            "city": "St.Gallen"
                        }
                    }
                }
            ]

## configuration [/financing/configuration/{financingId}/{type}]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/configuration/{financingId}/{type}>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/configuration/17146/initial>; rel="self"

    + Body

            {
                    "title": "Financing configuration collection",
                    "description": "Collection of Financing configuration objects of required type",
                    "type": "array",
                    "items": {
                            "title": "Financing configuration",
                            "description": "Financing configuration details",
                            "type": "object",
                            "properties": {
                                    "configurationId": {
                                            "title": "id",
                                            "description": "Configuration identifier",
                                            "type": [
                                                    "string",
                                                    "null"
                                            ]
                                    },
                                    "type": {
                                            "title": "Type",
                                            "description": "Configuration type",
                                            "type": [
                                                    "string"
                                            ],
                                            "enum": [
                                                    "initial",
                                                    "intermediate",
                                                    "final",
                                                    "support"
                                            ]
                                    },
                                    "financingId": {
                                            "title": "id",
                                            "description": "Financing identifier",
                                            "type": [
                                                    "string",
                                                    "number"
                                            ]
                                    },
                                    "mortgage": {
                                            "title": "Mortgage collection",
                                            "description": "Configured mortgage collection",
                                            "type": "array",
                                            "items": {
                                                    "title": "Mortgage",
                                                    "description": "Mortgage object",
                                                    "type": "object",
                                                    "properties": {
                                                            "id": {
                                                                    "title": "Id",
                                                                    "description": "Mortgage identifier",
                                                                    "type": [
                                                                            "string",
                                                                            "number"
                                                                    ]
                                                            },
                                                            "productDataId": {
                                                                    "title": "product data id",
                                                                    "description": "Identifier of product data",
                                                                    "type": [
                                                                            "string",
                                                                            "number"
                                                                    ]
                                                            },
                                                            "rate": {
                                                                    "title": "Rate",
                                                                    "description": "Mortgage rate",
                                                                    "type": "string"
                                                            },
                                                            "amount": {
                                                                    "title": "Amount",
                                                                    "description": "Mortgage credit amount",
                                                                    "type": [
                                                                            "string",
                                                                            "number"
                                                                    ]
                                                            },
                                                            "validFrom": {
                                                                    "title": "From",
                                                                    "description": "Credit period start date",
                                                                    "type": "string",
                                                                    "format": "date-time"
                                                            },
                                                            "duration": {
                                                                    "title": "Duration",
                                                                    "description": "Duration of product",
                                                                    "type": "number"
                                                            },
                                                            "offerId": {
                                                                    "title": "Offer identifier",
                                                                    "description": "Offer identifier for mortgage prolongation",
                                                                    "type": [
                                                                            "string",
                                                                            "number"
                                                                    ]
                                                            },
                                                            "prolongation": {
                                                                    "title": "New mortgage configuration",
                                                                    "description": "Mortgage prolongation collection",
                                                                    "type": "array",
                                                                    "items": {
                                                                            "title": "Mortgage prolongation",
                                                                            "description": "Mortgage prolongation element",
                                                                            "type": "object",
                                                                            "properties": {
                                                                                    "amount": {
                                                                                            "title": "Amount",
                                                                                            "description": "Prolongation element credit amount",
                                                                                            "type": "number"
                                                                                    },
                                                                                    "offer": {
                                                                                            "title": "Offer",
                                                                                            "description": "Mortgage prolongation offer",
                                                                                            "type": "object",
                                                                                            "properties": {
                                                                                                    "productDataId": {
                                                                                                            "title": "Id",
                                                                                                            "description": "Offer identifier",
                                                                                                            "type": [
                                                                                                                    "string",
                                                                                                                    "number"
                                                                                                            ]
                                                                                                    },
                                                                                                    "duration": {
                                                                                                            "title": "Duration",
                                                                                                            "description": "Offered duration in years",
                                                                                                            "type": "number",
                                                                                                            "minimum": 2,
                                                                                                            "maximum": 10
                                                                                                    },
                                                                                                    "rate": {
                                                                                                            "title": "Rate",
                                                                                                            "description": "Percent rate value for display",
                                                                                                            "type": "string",
                                                                                                            "minLength": 1
                                                                                                    },
                                                                                                    "minimalAmount": {
                                                                                                            "title": "Minimal amount",
                                                                                                            "description": "Minimal amount",
                                                                                                            "type": "number",
                                                                                                            "minimum": 0,
                                                                                                            "exclusiveMinimum": true
                                                                                                    }
                                                                                            },
                                                                                            "required": [
                                                                                                    "productDataId",
                                                                                                    "duration",
                                                                                                    "percent",
                                                                                                    "minimalAmount"
                                                                                            ]
                                                                                    }
                                                                            },
                                                                            "required": [
                                                                                    "amount"
                                                                            ]
                                                                    },
                                                                    "minItems": 1
                                                            }
                                                    },
                                                    "required": [
                                                            "id",
                                                            "productDataId",
                                                            "rate",
                                                            "amount",
                                                            "validFrom",
                                                            "duration"
                                                    ]
                                            },
                                            "minItems": 1
                                    }
                            },
                            "required": [
                                    "financingId",
                                    "mortgage"
                            ]
                    },
                    "minItems": 1,
                    "$schema": "http://json-schema.org/draft-04/schema#"
            }

### Get financing configuration [GET]

Return financing configuration

+ Parameters

    + financingId (required,string, `17146`) ... Financing identifier
    + type (optional,string, `initial`) ... Configuration type

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/configuration)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/configuration/17146/initial>; rel="self"

    + Body

            [
                {
                    "configurationId": 0,
                    "type": "initial",
                    "financingId": "17146",
                    "mortgage": [
                        {
                            "id": "126",
                            "productDataId": "333333",
                            "rate": "3.01",
                            "amount": 100000,
                            "duration": 25,
                            "validFrom": "2010-04-01"
                        },
                        {
                            "id": "127",
                            "productDataId": "444444",
                            "rate": "3.11",
                            "amount": 110000,
                            "duration": 20,
                            "validFrom": "2010-04-01"
                        },
                        {
                            "id": "128",
                            "productDataId": "9010390041",
                            "rate": "2.45",
                            "amount": 390000,
                            "duration": 6,
                            "validFrom": "2010-12-02"
                        },
                        {
                            "id": "129",
                            "productDataId": "9010390041",
                            "rate": "2.05",
                            "amount": 300000,
                            "duration": 7,
                            "validFrom": "2011-07-01"
                        },
                        {
                            "id": "130",
                            "productDataId": "9010390041",
                            "rate": "2.15",
                            "amount": 300000,
                            "duration": 10,
                            "validFrom": "2011-07-01"
                        }
                    ]
                }
            ]

## offer [/financing/offer/{offerId}]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/offer/{offerId}>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/offer/21137>; rel="self"

    + Body

            {
                    "title": " products",
                    "description": "Array of products",
                    "type": "array",
                    "items": {
                            "title": "Offer",
                            "description": "Mortgage prolongation offer",
                            "type": "object",
                            "properties": {
                                    "productDataId": {
                                            "title": "Id",
                                            "description": "Offer identifier",
                                            "type": [
                                                    "string",
                                                    "number"
                                            ]
                                    },
                                    "duration": {
                                            "title": "Duration",
                                            "description": "Offered duration in years",
                                            "type": "number",
                                            "minimum": 2,
                                            "maximum": 10
                                    },
                                    "rate": {
                                            "title": "Rate",
                                            "description": "Percent rate value for display",
                                            "type": "string",
                                            "minLength": 1
                                    },
                                    "minimalAmount": {
                                            "title": "Minimal amount",
                                            "description": "Minimal amount",
                                            "type": "number",
                                            "minimum": 0,
                                            "exclusiveMinimum": true
                                    }
                            },
                            "required": [
                                    "productDataId",
                                    "duration",
                                    "percent",
                                    "minimalAmount"
                            ]
                    },
                    "minItems": 1,
                    "$schema": "http://json-schema.org/draft-04/schema#"
            }

### Get offer products [GET]

Return array of products by offer identifier

+ Parameters

    + offerId (required,string, `21137`) ... Offer identifier

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/offer)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/offer/21137>; rel="self"

    + Body

            [
                {
                    "productDataId": "9010390041",
                    "duration": 2,
                    "rate": "1.50",
                    "minimalAmount": 100000
                },
                {
                    "productDataId": "9010390041",
                    "duration": 3,
                    "rate": "2.00",
                    "minimalAmount": 100000
                },
                {
                    "productDataId": "9010390041",
                    "duration": 4,
                    "rate": "2.25",
                    "minimalAmount": 100000
                },
                {
                    "productDataId": "9010390041",
                    "duration": 5,
                    "rate": "2.50",
                    "minimalAmount": 100000
                },
                {
                    "productDataId": "9010390041",
                    "duration": 6,
                    "rate": "2.75",
                    "minimalAmount": 100000
                },
                {
                    "productDataId": "9010390041",
                    "duration": 7,
                    "rate": "3.00",
                    "minimalAmount": 100000
                },
                {
                    "productDataId": "9010390041",
                    "duration": 8,
                    "rate": "3.25",
                    "minimalAmount": 100000
                },
                {
                    "productDataId": "9010390041",
                    "duration": 9,
                    "rate": "3.50",
                    "minimalAmount": 100000
                },
                {
                    "productDataId": "9010390041",
                    "duration": 10,
                    "rate": "3.75",
                    "minimalAmount": 100000
                }
            ]

# Group Misc

Not grouped services

## product [/misc/product]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/misc/product>; rel="canonical", <http://api.wcp.vps321.xiag.ch/misc/product>; rel="self"

    + Body

            {
                    "title": " Products data",
                    "description": "Collection of product data",
                    "type": "array",
                    "items": {
                            "title": "Product title",
                            "description": "Product title object",
                            "type": "object",
                            "properties": {
                                    "id": {
                                            "title": "Id",
                                            "description": "Product identifier",
                                            "type": [
                                                    "string",
                                                    "number"
                                            ]
                                    },
                                    "name": {
                                            "title": "Name",
                                            "description": "Product name",
                                            "type": "string"
                                    },
                                    "type": {
                                            "title": "Type",
                                            "description": "Product type",
                                            "type": "string",
                                            "enum": [
                                                    "fixed",
                                                    "rollover",
                                                    "variable"
                                            ]
                                    }
                            },
                            "required": [
                                    "id",
                                    "name",
                                    "type"
                            ]
                    },
                    "$schema": "http://json-schema.org/draft-04/schema#"
            }

### Get products data [GET]

Return product collection

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/misc/product)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/misc/product>; rel="self"

    + Body

            [
                {
                    "id": "100",
                    "name": "Darlehen Fest",
                    "type": "fixed"
                },
                {
                    "id": "923341",
                    "name": "Festhypothek",
                    "type": "fixed"
                },
                {
                    "id": "333333",
                    "name": "Variable Hypothek",
                    "type": "variable"
                },
                {
                    "id": "444444",
                    "name": "Rollover Hypothek",
                    "type": "rollover"
                },
                {
                    "id": "9010390041",
                    "name": "Festhypothek",
                    "type": "fixed"
                }
            ]

## year [/misc/year]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/misc/year>; rel="canonical", <http://api.wcp.vps321.xiag.ch/misc/year>; rel="self"

    + Body

            {
                    "title": "Year",
                    "description": "Current year",
                    "type": [
                            "number"
                    ],
                    "$schema": "http://json-schema.org/draft-04/schema#"
            }

### Get current year [GET]

Return current year on server

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/misc/year)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/misc/year>; rel="self"

    + Body

            2014
