FORMAT: 1A
HOST: http://api.wcp.vps321.xiag.ch/

# Swisscom web customer portal, mortgage component
API documentation for **Swisscom WCP Mortgage** application.

# Group CSR

Customer Support Representatives

## csr [/financing/csr/{portfolioId}]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/csr/{portfolioId}>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/csr/34231>; rel="self"

    + Body

            {
                    "GET": {
                            "title": "CSR",
                            "description": "Customer Support Representative object",
                            "type": "object",
                            "properties": {
                                    "id": {
                                            "title": "Id",
                                            "description": "CSR identifier",
                                            "type": [
                                                    "string",
                                                    "number"
                                            ]
                                    },
                                    "firstName": {
                                            "title": "First name",
                                            "description": "Agent first name",
                                            "type": "string"
                                    },
                                    "lastName": {
                                            "title": "Last name",
                                            "description": "Agent last name",
                                            "type": "string"
                                    },
                                    "role": {
                                            "title": "Role",
                                            "description": "Agent role",
                                            "type": "string"
                                    },
                                    "phoneNumber": {
                                            "title": "Phone number",
                                            "description": "Agent phone number",
                                            "type": "string",
                                            "format": "phone"
                                    },
                                    "faxNumber": {
                                            "title": "Fax number",
                                            "description": "Agent fax number",
                                            "type": "string",
                                            "format": "phone"
                                    },
                                    "email": {
                                            "title": "E-mail",
                                            "description": "Agent e-mail",
                                            "type": "string",
                                            "format": "email"
                                    },
                                    "imageURI": {
                                            "title": "Image URI",
                                            "description": "Agent photo",
                                            "type": "string",
                                            "format": "uri"
                                    }
                            },
                            "required": [
                                    "id",
                                    "firstName",
                                    "lastName",
                                    "role",
                                    "phoneNumber",
                                    "faxNumber",
                                    "imageURI"
                            ],
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    },
                    "POST": {
                            "type": "object",
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    }
            }

### Get CSR [GET]

Return customer support representatives by porfolio identifier

+ Parameters

    + portfolioId (optional,string, `34231`) ... Portfolio identifier

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/csr)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/csr/34231>; rel="self"

    + Body

            {
                "id": "1",
                "firstName": "Jacqueline",
                "lastName": "Bamert",
                "role": "Kundenberaterin",
                "phoneNumber": "+41 58 800 24 14",
                "faxNumber": "058 800 67 01",
                "email": "jacqueline.bamert@szkb.ch",
                "imageURI": "//www.szkb.ch/images/default-source/mitarbeiterfotos/192613.jpg"
            }

### Send CSR request [POST]

Send request for customer support representatives and return status of success

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/csr)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/csr>; rel="self"

    + Body

            true

# Group Portfolio

Portfolios collection

## portfolio [/financing/portfolio]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/portfolio>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/portfolio>; rel="self"

    + Body

            {
                    "GET": {
                            "title": "Portfolio",
                            "description": "Portfolio object",
                            "type": "object",
                            "properties": {
                                    "customerId": {
                                            "title": "Customer id",
                                            "description": "Customer identifier",
                                            "type": [
                                                    "string",
                                                    "number"
                                            ]
                                    },
                                    "creditAccount": {
                                            "title": "Credit account",
                                            "description": "Credit account",
                                            "type": "string"
                                    },
                                    "owner": {
                                            "title": "Owner",
                                            "description": "Owner name",
                                            "type": "string"
                                    },
                                    "productId": {
                                            "title": "Product id",
                                            "description": "Product identifier",
                                            "type": [
                                                    "string",
                                                    "number"
                                            ]
                                    },
                                    "rate": {
                                            "title": "Rate",
                                            "description": "Portfolio rate",
                                            "type": [
                                                    "string",
                                                    "number"
                                            ]
                                    },
                                    "currency": {
                                            "title": "Currency",
                                            "description": "ISO 4217 Currency Code",
                                            "type": "string",
                                            "format": "iso4217",
                                            "pattern": "^[A-Z]{3}$"
                                    },
                                    "limit": {
                                            "title": "Limit",
                                            "description": "Credit limit",
                                            "type": "number",
                                            "minimum": 0,
                                            "exclusiveMinimum": true
                                    },
                                    "balance": {
                                            "title": "Balance",
                                            "description": "Current balance",
                                            "type": "number"
                                    }
                            },
                            "required": [
                                    "customerId",
                                    "creditAccount",
                                    "owner",
                                    "productId",
                                    "rate",
                                    "currency",
                                    "limit",
                                    "balance"
                            ],
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    }
            }

### Get portfolio [GET]

Return portfolio of current customer

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/portfolio)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/portfolio>; rel="self"

    + Body

            {
                "customerId": "1153623-11",
                "creditAccount": "456373-3042",
                "owner": "Grätzer-Inderbitzin M. und S.",
                "productId": "100",
                "rate": "multiple",
                "currency": "CHF",
                "limit": 746000,
                "balance": -576000
            }

# Group Mortgage

Managing **Mortgage** objects

## mortgage [/financing/mortgage]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/mortgage>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/mortgage>; rel="self"

    + Body

            {
                    "GET": {
                            "title": "Mortgages",
                            "description": "Array of mortgages",
                            "type": "array",
                            "items": {
                                    "title": "Mortgage",
                                    "description": "Mortgage object available for customer",
                                    "type": "object",
                                    "properties": {
                                            "id": {
                                                    "title": "Id",
                                                    "description": "Mortgage identifier",
                                                    "type": [
                                                            "string",
                                                            "number"
                                                    ]
                                            },
                                            "productId": {
                                                    "title": "Product id",
                                                    "description": "Product identifier",
                                                    "type": [
                                                            "string",
                                                            "number"
                                                    ]
                                            },
                                            "currency": {
                                                    "title": "Currency",
                                                    "description": "ISO 4217 Currency Code",
                                                    "type": "string",
                                                    "format": "iso4217",
                                                    "pattern": "^[A-Z]{3}$"
                                            },
                                            "limit": {
                                                    "title": "Limit",
                                                    "description": "Total limit",
                                                    "type": "number",
                                                    "minimum": 0
                                            },
                                            "balance": {
                                                    "title": "Balance",
                                                    "description": "Current balance",
                                                    "type": "number"
                                            },
                                            "owner": {
                                                    "title": "Owner",
                                                    "description": "Owner info",
                                                    "type": "object",
                                                    "properties": {
                                                            "id": {
                                                                    "title": "Id",
                                                                    "description": "Owner id",
                                                                    "type": "string"
                                                            },
                                                            "name": {
                                                                    "title": "Name",
                                                                    "description": "Owner name",
                                                                    "type": "string"
                                                            }
                                                    },
                                                    "required": [
                                                            "id",
                                                            "name"
                                                    ]
                                            },
                                            "object": {
                                                    "title": "Object",
                                                    "description": "Object info",
                                                    "type": "object",
                                                    "properties": {
                                                            "name": {
                                                                    "title": "Name",
                                                                    "description": "Object name",
                                                                    "type": "string"
                                                            },
                                                            "address": {
                                                                    "title": "Address",
                                                                    "description": "Object address",
                                                                    "type": "object",
                                                                    "properties": {
                                                                            "street": {
                                                                                    "title": "Street",
                                                                                    "description": "Street",
                                                                                    "type": "string"
                                                                            },
                                                                            "zip": {
                                                                                    "title": "Zip",
                                                                                    "description": "Zip",
                                                                                    "type": "string"
                                                                            },
                                                                            "city": {
                                                                                    "title": "City",
                                                                                    "description": "City",
                                                                                    "type": "string"
                                                                            }
                                                                    },
                                                                    "required": []
                                                            },
                                                            "additional": {
                                                                    "title": "Additional",
                                                                    "description": "Additional info",
                                                                    "type": "string"
                                                            }
                                                    },
                                                    "required": [
                                                            "name"
                                                    ]
                                            },
                                            "products": {
                                                    "title": "Products",
                                                    "description": "Products array",
                                                    "type": "array",
                                                    "items": {
                                                            "title": "Product",
                                                            "description": "",
                                                            "type": "object",
                                                            "properties": {
                                                                    "id": {
                                                                            "title": "Id",
                                                                            "description": "Product identifier",
                                                                            "type": [
                                                                                    "string",
                                                                                    "number"
                                                                            ]
                                                                    },
                                                                    "rate": {
                                                                            "title": "Rate",
                                                                            "description": "Product rate",
                                                                            "type": "string"
                                                                    },
                                                                    "amount": {
                                                                            "title": "Amount",
                                                                            "description": "Credit amount",
                                                                            "type": [
                                                                                    "string",
                                                                                    "number"
                                                                            ]
                                                                    },
                                                                    "duration": {
                                                                            "title": "Duration",
                                                                            "description": "Duration of product",
                                                                            "type": "number"
                                                                    },
                                                                    "valid": {
                                                                            "title": "Valid",
                                                                            "description": "Credit period",
                                                                            "type": "object",
                                                                            "properties": {
                                                                                    "from": {
                                                                                            "title": "From",
                                                                                            "description": "Credit period start",
                                                                                            "type": "string",
                                                                                            "format": "date-time"
                                                                                    }
                                                                            },
                                                                            "required": [
                                                                                    "from"
                                                                            ]
                                                                    },
                                                                    "offerId": {
                                                                            "type": [
                                                                                    "string",
                                                                                    "number"
                                                                            ]
                                                                    },
                                                                    "parts": {
                                                                            "title": "New product configuration",
                                                                            "description": "Reconfigured products",
                                                                            "type": "array",
                                                                            "items": {
                                                                                    "title": "Configuration part",
                                                                                    "description": "New configuration part",
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                            "amount": {
                                                                                                    "title": "Amount",
                                                                                                    "description": "Credit amount",
                                                                                                    "type": "number"
                                                                                            },
                                                                                            "offer": {
                                                                                                    "title": "Offer",
                                                                                                    "description": "Offer object",
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                            "id": {
                                                                                                                    "title": "Id",
                                                                                                                    "description": "Offer idintifier",
                                                                                                                    "type": [
                                                                                                                            "string",
                                                                                                                            "number"
                                                                                                                    ]
                                                                                                            },
                                                                                                            "duration": {
                                                                                                                    "title": "Duration",
                                                                                                                    "description": "Offered product duration in years",
                                                                                                                    "type": "number",
                                                                                                                    "minimum": 2,
                                                                                                                    "maximum": 10
                                                                                                            },
                                                                                                            "actualMargin": {
                                                                                                                    "title": "Rate",
                                                                                                                    "description": "Actual product rate",
                                                                                                                    "type": "string",
                                                                                                                    "minLength": 1
                                                                                                            },
                                                                                                            "minimalAmount": {
                                                                                                                    "title": "Minimal amount",
                                                                                                                    "description": "Minimal amount",
                                                                                                                    "type": "number",
                                                                                                                    "minimum": 0,
                                                                                                                    "exclusiveMinimum": true
                                                                                                            }
                                                                                                    },
                                                                                                    "required": [
                                                                                                            "id",
                                                                                                            "duration",
                                                                                                            "actualMargin",
                                                                                                            "minimalAmount"
                                                                                                    ]
                                                                                            }
                                                                                    }
                                                                            }
                                                                    }
                                                            },
                                                            "required": [
                                                                    "id",
                                                                    "rate",
                                                                    "amount",
                                                                    "valid"
                                                            ]
                                                    }
                                            }
                                    },
                                    "required": [
                                            "id",
                                            "productId",
                                            "currency",
                                            "limit",
                                            "balance",
                                            "owner",
                                            "object",
                                            "products"
                                    ]
                            },
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    }
            }

### Get mortgages [GET]

Return an array of mortgages available to the customer

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/mortgage)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/mortgage>; rel="self"

    + Body

            [
                {
                    "id": "17145",
                    "productId": "100",
                    "currency": "CHF",
                    "limit": 800000,
                    "balance": -800000,
                    "owner": {
                        "id": "131841-3006",
                        "name": "Hans Muster"
                    },
                    "object": {
                        "name": "Darlehen 928342-2342",
                        "address": {
                            "street": "Kurzstrasse 22",
                            "zip": "7770",
                            "city": "St.Gallen"
                        }
                    },
                    "products": [
                        {
                            "id": "333333",
                            "rate": "3.01",
                            "amount": 100000,
                            "duration": 25,
                            "valid": {
                                "from": "2010-04-01"
                            }
                        },
                        {
                            "id": "444444",
                            "rate": "3.11",
                            "amount": 110000,
                            "duration": 25,
                            "valid": {
                                "from": "2010-04-01"
                            }
                        },
                        {
                            "id": "9010390041",
                            "rate": "2.45",
                            "amount": 590000,
                            "duration": 5,
                            "valid": {
                                "from": "2010-04-01"
                            },
                            "offerId": "21137"
                        }
                    ]
                },
                {
                    "id": "17146",
                    "productId": "100",
                    "currency": "CHF",
                    "limit": 1200000,
                    "balance": -1200000,
                    "owner": {
                        "id": "131841-4982",
                        "name": "Hans Muster"
                    },
                    "object": {
                        "name": "Darlehen 922231-0092",
                        "address": {
                            "street": "Kurzstrasse 2",
                            "zip": "7770",
                            "city": "St.Gallen"
                        }
                    },
                    "products": [
                        {
                            "id": "333333",
                            "rate": "3.01",
                            "amount": 100000,
                            "duration": 25,
                            "valid": {
                                "from": "2010-04-01"
                            }
                        },
                        {
                            "id": "444444",
                            "rate": "3.11",
                            "amount": 110000,
                            "duration": 20,
                            "valid": {
                                "from": "2010-04-01"
                            }
                        },
                        {
                            "id": "9010390041",
                            "rate": "2.45",
                            "amount": 390000,
                            "duration": 6,
                            "valid": {
                                "from": "2010-12-02"
                            }
                        },
                        {
                            "id": "9010390041",
                            "rate": "2.05",
                            "amount": 300000,
                            "duration": 7,
                            "valid": {
                                "from": "2011-07-01"
                            }
                        },
                        {
                            "id": "9010390041",
                            "rate": "2.15",
                            "amount": 300000,
                            "duration": 10,
                            "valid": {
                                "from": "2011-07-01"
                            }
                        }
                    ]
                }
            ]

## configuration [/financing/configuration/{mortgageId}]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/configuration/{mortgageId}>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/configuration/17146>; rel="self"

    + Body

            {
                    "GET": {
                            "title": "Mortgage configuration object",
                            "description": "Mortgage configuration object",
                            "type": "object",
                            "properties": {
                                    "initial": {
                                            "title": "Initial",
                                            "description": "Initial configuration array",
                                            "type": "array",
                                            "items": {
                                                    "title": "Product",
                                                    "description": "",
                                                    "type": "object",
                                                    "properties": {
                                                            "id": {
                                                                    "title": "Id",
                                                                    "description": "Product identifier",
                                                                    "type": [
                                                                            "string",
                                                                            "number"
                                                                    ]
                                                            },
                                                            "rate": {
                                                                    "title": "Rate",
                                                                    "description": "Product rate",
                                                                    "type": "string"
                                                            },
                                                            "amount": {
                                                                    "title": "Amount",
                                                                    "description": "Credit amount",
                                                                    "type": [
                                                                            "string",
                                                                            "number"
                                                                    ]
                                                            },
                                                            "duration": {
                                                                    "title": "Duration",
                                                                    "description": "Duration of product",
                                                                    "type": "number"
                                                            },
                                                            "valid": {
                                                                    "title": "Valid",
                                                                    "description": "Credit period",
                                                                    "type": "object",
                                                                    "properties": {
                                                                            "from": {
                                                                                    "title": "From",
                                                                                    "description": "Credit period start",
                                                                                    "type": "string",
                                                                                    "format": "date-time"
                                                                            }
                                                                    },
                                                                    "required": [
                                                                            "from"
                                                                    ]
                                                            },
                                                            "offerId": {
                                                                    "type": [
                                                                            "string",
                                                                            "number"
                                                                    ]
                                                            },
                                                            "parts": {
                                                                    "title": "New product configuration",
                                                                    "description": "Reconfigured products",
                                                                    "type": "array",
                                                                    "items": {
                                                                            "title": "Configuration part",
                                                                            "description": "New configuration part",
                                                                            "type": "object",
                                                                            "properties": {
                                                                                    "amount": {
                                                                                            "title": "Amount",
                                                                                            "description": "Credit amount",
                                                                                            "type": "number"
                                                                                    },
                                                                                    "offer": {
                                                                                            "title": "Offer",
                                                                                            "description": "Offer object",
                                                                                            "type": "object",
                                                                                            "properties": {
                                                                                                    "id": {
                                                                                                            "title": "Id",
                                                                                                            "description": "Offer idintifier",
                                                                                                            "type": [
                                                                                                                    "string",
                                                                                                                    "number"
                                                                                                            ]
                                                                                                    },
                                                                                                    "duration": {
                                                                                                            "title": "Duration",
                                                                                                            "description": "Offered product duration in years",
                                                                                                            "type": "number",
                                                                                                            "minimum": 2,
                                                                                                            "maximum": 10
                                                                                                    },
                                                                                                    "actualMargin": {
                                                                                                            "title": "Rate",
                                                                                                            "description": "Actual product rate",
                                                                                                            "type": "string",
                                                                                                            "minLength": 1
                                                                                                    },
                                                                                                    "minimalAmount": {
                                                                                                            "title": "Minimal amount",
                                                                                                            "description": "Minimal amount",
                                                                                                            "type": "number",
                                                                                                            "minimum": 0,
                                                                                                            "exclusiveMinimum": true
                                                                                                    }
                                                                                            },
                                                                                            "required": [
                                                                                                    "id",
                                                                                                    "duration",
                                                                                                    "actualMargin",
                                                                                                    "minimalAmount"
                                                                                            ]
                                                                                    }
                                                                            }
                                                                    }
                                                            }
                                                    },
                                                    "required": [
                                                            "id",
                                                            "rate",
                                                            "amount",
                                                            "valid"
                                                    ]
                                            }
                                    },
                                    "configured": {
                                            "title": "Mortage configuration object",
                                            "description": "Configuration object of mortgage",
                                            "type": "object",
                                            "properties": {
                                                    "products": {
                                                            "title": "Initial",
                                                            "description": "Initial configuration array",
                                                            "type": "array",
                                                            "items": {
                                                                    "title": "Product",
                                                                    "description": "",
                                                                    "type": "object",
                                                                    "properties": {
                                                                            "id": {
                                                                                    "title": "Id",
                                                                                    "description": "Product identifier",
                                                                                    "type": [
                                                                                            "string",
                                                                                            "number"
                                                                                    ]
                                                                            },
                                                                            "rate": {
                                                                                    "title": "Rate",
                                                                                    "description": "Product rate",
                                                                                    "type": "string"
                                                                            },
                                                                            "amount": {
                                                                                    "title": "Amount",
                                                                                    "description": "Credit amount",
                                                                                    "type": [
                                                                                            "string",
                                                                                            "number"
                                                                                    ]
                                                                            },
                                                                            "duration": {
                                                                                    "title": "Duration",
                                                                                    "description": "Duration of product",
                                                                                    "type": "number"
                                                                            },
                                                                            "valid": {
                                                                                    "title": "Valid",
                                                                                    "description": "Credit period",
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                            "from": {
                                                                                                    "title": "From",
                                                                                                    "description": "Credit period start",
                                                                                                    "type": "string",
                                                                                                    "format": "date-time"
                                                                                            }
                                                                                    },
                                                                                    "required": [
                                                                                            "from"
                                                                                    ]
                                                                            },
                                                                            "offerId": {
                                                                                    "type": [
                                                                                            "string",
                                                                                            "number"
                                                                                    ]
                                                                            },
                                                                            "parts": {
                                                                                    "title": "New product configuration",
                                                                                    "description": "Reconfigured products",
                                                                                    "type": "array",
                                                                                    "items": {
                                                                                            "title": "Configuration part",
                                                                                            "description": "New configuration part",
                                                                                            "type": "object",
                                                                                            "properties": {
                                                                                                    "amount": {
                                                                                                            "title": "Amount",
                                                                                                            "description": "Credit amount",
                                                                                                            "type": "number"
                                                                                                    },
                                                                                                    "offer": {
                                                                                                            "title": "Offer",
                                                                                                            "description": "Offer object",
                                                                                                            "type": "object",
                                                                                                            "properties": {
                                                                                                                    "id": {
                                                                                                                            "title": "Id",
                                                                                                                            "description": "Offer idintifier",
                                                                                                                            "type": [
                                                                                                                                    "string",
                                                                                                                                    "number"
                                                                                                                            ]
                                                                                                                    },
                                                                                                                    "duration": {
                                                                                                                            "title": "Duration",
                                                                                                                            "description": "Offered product duration in years",
                                                                                                                            "type": "number",
                                                                                                                            "minimum": 2,
                                                                                                                            "maximum": 10
                                                                                                                    },
                                                                                                                    "actualMargin": {
                                                                                                                            "title": "Rate",
                                                                                                                            "description": "Actual product rate",
                                                                                                                            "type": "string",
                                                                                                                            "minLength": 1
                                                                                                                    },
                                                                                                                    "minimalAmount": {
                                                                                                                            "title": "Minimal amount",
                                                                                                                            "description": "Minimal amount",
                                                                                                                            "type": "number",
                                                                                                                            "minimum": 0,
                                                                                                                            "exclusiveMinimum": true
                                                                                                                    }
                                                                                                            },
                                                                                                            "required": [
                                                                                                                    "id",
                                                                                                                    "duration",
                                                                                                                    "actualMargin",
                                                                                                                    "minimalAmount"
                                                                                                            ]
                                                                                                    }
                                                                                            }
                                                                                    }
                                                                            }
                                                                    },
                                                                    "required": [
                                                                            "id",
                                                                            "rate",
                                                                            "amount",
                                                                            "valid"
                                                                    ]
                                                            }
                                                    },
                                                    "step": {
                                                            "title": "Step",
                                                            "description": "Step",
                                                            "type": "string"
                                                    }
                                            },
                                            "required": [
                                                    "products"
                                            ]
                                    }
                            },
                            "required": [
                                    "initial"
                            ],
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    },
                    "POST": {
                            "type": "object",
                            "properties": {
                                    "mortgageId": {
                                            "title": "Mortgage id",
                                            "description": "Mortgage identifier",
                                            "type": [
                                                    "string",
                                                    "number"
                                            ]
                                    },
                                    "configured": {
                                            "title": "Mortage configuration object",
                                            "description": "Configuration object of mortgage",
                                            "type": "object",
                                            "properties": {
                                                    "products": {
                                                            "title": "Initial",
                                                            "description": "Initial configuration array",
                                                            "type": "array",
                                                            "items": {
                                                                    "title": "Product",
                                                                    "description": "",
                                                                    "type": "object",
                                                                    "properties": {
                                                                            "id": {
                                                                                    "title": "Id",
                                                                                    "description": "Product identifier",
                                                                                    "type": [
                                                                                            "string",
                                                                                            "number"
                                                                                    ]
                                                                            },
                                                                            "rate": {
                                                                                    "title": "Rate",
                                                                                    "description": "Product rate",
                                                                                    "type": "string"
                                                                            },
                                                                            "amount": {
                                                                                    "title": "Amount",
                                                                                    "description": "Credit amount",
                                                                                    "type": [
                                                                                            "string",
                                                                                            "number"
                                                                                    ]
                                                                            },
                                                                            "duration": {
                                                                                    "title": "Duration",
                                                                                    "description": "Duration of product",
                                                                                    "type": "number"
                                                                            },
                                                                            "valid": {
                                                                                    "title": "Valid",
                                                                                    "description": "Credit period",
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                            "from": {
                                                                                                    "title": "From",
                                                                                                    "description": "Credit period start",
                                                                                                    "type": "string",
                                                                                                    "format": "date-time"
                                                                                            }
                                                                                    },
                                                                                    "required": [
                                                                                            "from"
                                                                                    ]
                                                                            },
                                                                            "offerId": {
                                                                                    "type": [
                                                                                            "string",
                                                                                            "number"
                                                                                    ]
                                                                            },
                                                                            "parts": {
                                                                                    "title": "New product configuration",
                                                                                    "description": "Reconfigured products",
                                                                                    "type": "array",
                                                                                    "items": {
                                                                                            "title": "Configuration part",
                                                                                            "description": "New configuration part",
                                                                                            "type": "object",
                                                                                            "properties": {
                                                                                                    "amount": {
                                                                                                            "title": "Amount",
                                                                                                            "description": "Credit amount",
                                                                                                            "type": "number"
                                                                                                    },
                                                                                                    "offer": {
                                                                                                            "title": "Offer",
                                                                                                            "description": "Offer object",
                                                                                                            "type": "object",
                                                                                                            "properties": {
                                                                                                                    "id": {
                                                                                                                            "title": "Id",
                                                                                                                            "description": "Offer idintifier",
                                                                                                                            "type": [
                                                                                                                                    "string",
                                                                                                                                    "number"
                                                                                                                            ]
                                                                                                                    },
                                                                                                                    "duration": {
                                                                                                                            "title": "Duration",
                                                                                                                            "description": "Offered product duration in years",
                                                                                                                            "type": "number",
                                                                                                                            "minimum": 2,
                                                                                                                            "maximum": 10
                                                                                                                    },
                                                                                                                    "actualMargin": {
                                                                                                                            "title": "Rate",
                                                                                                                            "description": "Actual product rate",
                                                                                                                            "type": "string",
                                                                                                                            "minLength": 1
                                                                                                                    },
                                                                                                                    "minimalAmount": {
                                                                                                                            "title": "Minimal amount",
                                                                                                                            "description": "Minimal amount",
                                                                                                                            "type": "number",
                                                                                                                            "minimum": 0,
                                                                                                                            "exclusiveMinimum": true
                                                                                                                    }
                                                                                                            },
                                                                                                            "required": [
                                                                                                                    "id",
                                                                                                                    "duration",
                                                                                                                    "actualMargin",
                                                                                                                    "minimalAmount"
                                                                                                            ]
                                                                                                    }
                                                                                            }
                                                                                    }
                                                                            }
                                                                    },
                                                                    "required": [
                                                                            "id",
                                                                            "rate",
                                                                            "amount",
                                                                            "valid"
                                                                    ]
                                                            }
                                                    },
                                                    "step": {
                                                            "title": "Step",
                                                            "description": "Step",
                                                            "type": "string"
                                                    }
                                            },
                                            "required": [
                                                    "products"
                                            ]
                                    }
                            },
                            "required": [
                                    "mortgageId",
                                    "configured"
                            ],
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    }
            }

### Get mortgage configuration [GET]

Return configuration object of mortgage

+ Parameters

    + mortgageId (required,string, `17146`) ... Mortgage identifier

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/configuration)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/configuration/17146>; rel="self"

    + Body

            {
                "initial": [
                    {
                        "id": "333333",
                        "rate": "3.01",
                        "amount": 100000,
                        "duration": 25,
                        "valid": {
                            "from": "2010-04-01"
                        }
                    },
                    {
                        "id": "444444",
                        "rate": "3.11",
                        "amount": 110000,
                        "duration": 20,
                        "valid": {
                            "from": "2010-04-01"
                        }
                    },
                    {
                        "id": "9010390041",
                        "rate": "2.45",
                        "amount": 390000,
                        "duration": 6,
                        "valid": {
                            "from": "2010-12-02"
                        }
                    },
                    {
                        "id": "9010390041",
                        "rate": "2.05",
                        "amount": 300000,
                        "duration": 7,
                        "valid": {
                            "from": "2011-07-01"
                        }
                    },
                    {
                        "id": "9010390041",
                        "rate": "2.15",
                        "amount": 300000,
                        "duration": 10,
                        "valid": {
                            "from": "2011-07-01"
                        }
                    }
                ],
                "configured": {
                    "products": [
                        {
                            "id": "333333",
                            "rate": "3.01",
                            "amount": 100000,
                            "duration": 25,
                            "valid": {
                                "from": "2010-04-01"
                            }
                        },
                        {
                            "id": "444444",
                            "rate": "3.11",
                            "amount": 110000,
                            "duration": 20,
                            "valid": {
                                "from": "2010-04-01"
                            }
                        },
                        {
                            "id": "9010390041",
                            "rate": "2.45",
                            "amount": 390000,
                            "duration": 6,
                            "valid": {
                                "from": "2010-12-02"
                            }
                        },
                        {
                            "id": "9010390041",
                            "rate": "2.05",
                            "amount": 300000,
                            "duration": 7,
                            "valid": {
                                "from": "2011-07-01"
                            }
                        },
                        {
                            "id": "9010390041",
                            "rate": "2.15",
                            "amount": 300000,
                            "duration": 10,
                            "valid": {
                                "from": "2011-07-01"
                            }
                        }
                    ]
                }
            }

### Save mortgage configuration [POST]

Save configuration object of mortgage and return status of success

+ Parameters

    + mortgageId (required,string, `17146`) ... Mortgage identifier
    + configured (required) ... Configuration object of mortgage

+ Request (application/json)

            {
                "mortgageId": "17146",
                "configured": {
                    "products": [
                        {
                            "id": "333333",
                            "rate": "3.01",
                            "amount": 100000,
                            "duration": 25,
                            "valid": {
                                "from": "2010-04-01"
                            }
                        },
                        {
                            "id": "444444",
                            "rate": "3.11",
                            "amount": 110000,
                            "duration": 20,
                            "valid": {
                                "from": "2010-04-01"
                            }
                        },
                        {
                            "id": "9010390041",
                            "rate": "2.45",
                            "amount": 390000,
                            "duration": 6,
                            "valid": {
                                "from": "2010-12-02"
                            }
                        },
                        {
                            "id": "9010390041",
                            "rate": "2.05",
                            "amount": 300000,
                            "duration": 7,
                            "valid": {
                                "from": "2011-07-01"
                            }
                        },
                        {
                            "id": "9010390041",
                            "rate": "2.15",
                            "amount": 300000,
                            "duration": 10,
                            "valid": {
                                "from": "2011-07-01"
                            }
                        }
                    ]
                }
            }

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/configuration)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/configuration/17146>; rel="self"

    + Body

            true

# Group Offer

Offer as a products collection for mortgage part extension

## offer [/financing/offer/{offerId}]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/offer/{offerId}>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/offer/21137>; rel="self"

    + Body

            {
                    "GET": {
                            "title": " products",
                            "description": "Array of products",
                            "type": "array",
                            "items": {
                                    "title": "Offer",
                                    "description": "Offer object",
                                    "type": "object",
                                    "properties": {
                                            "id": {
                                                    "title": "Id",
                                                    "description": "Offer idintifier",
                                                    "type": [
                                                            "string",
                                                            "number"
                                                    ]
                                            },
                                            "duration": {
                                                    "title": "Duration",
                                                    "description": "Offered product duration in years",
                                                    "type": "number",
                                                    "minimum": 2,
                                                    "maximum": 10
                                            },
                                            "actualMargin": {
                                                    "title": "Rate",
                                                    "description": "Actual product rate",
                                                    "type": "string",
                                                    "minLength": 1
                                            },
                                            "minimalAmount": {
                                                    "title": "Minimal amount",
                                                    "description": "Minimal amount",
                                                    "type": "number",
                                                    "minimum": 0,
                                                    "exclusiveMinimum": true
                                            }
                                    },
                                    "required": [
                                            "id",
                                            "duration",
                                            "actualMargin",
                                            "minimalAmount"
                                    ]
                            },
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    }
            }

### Get offer products [GET]

Return array of products by offer identifier

+ Parameters

    + offerId (required,string, `21137`) ... Offer identifier for  products

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/offer)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/offer/21137>; rel="self"

    + Body

            [
                {
                    "id": "9010390041",
                    "duration": 2,
                    "actualMargin": "1.50",
                    "minimalAmount": 100000
                },
                {
                    "id": "9010390041",
                    "duration": 3,
                    "actualMargin": "2.00",
                    "minimalAmount": 100000
                },
                {
                    "id": "9010390041",
                    "duration": 4,
                    "actualMargin": "2.25",
                    "minimalAmount": 100000
                },
                {
                    "id": "9010390041",
                    "duration": 5,
                    "actualMargin": "2.50",
                    "minimalAmount": 100000
                },
                {
                    "id": "9010390041",
                    "duration": 6,
                    "actualMargin": "2.75",
                    "minimalAmount": 100000
                },
                {
                    "id": "9010390041",
                    "duration": 7,
                    "actualMargin": "3.00",
                    "minimalAmount": 100000
                },
                {
                    "id": "9010390041",
                    "duration": 8,
                    "actualMargin": "3.25",
                    "minimalAmount": 100000
                },
                {
                    "id": "9010390041",
                    "duration": 9,
                    "actualMargin": "3.50",
                    "minimalAmount": 100000
                },
                {
                    "id": "9010390041",
                    "duration": 10,
                    "actualMargin": "3.75",
                    "minimalAmount": 100000
                }
            ]

# Group Product

Products collection

## product [/financing/product]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/product>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/product>; rel="self"

    + Body

            {
                    "GET": {
                            "title": " Products data",
                            "description": "Array of products data",
                            "type": "array",
                            "items": {
                                    "title": "Product title",
                                    "description": "Product title object",
                                    "type": "object",
                                    "properties": {
                                            "id": {
                                                    "title": "Id",
                                                    "description": "Product identifier",
                                                    "type": [
                                                            "string",
                                                            "number"
                                                    ]
                                            },
                                            "name": {
                                                    "title": "Name",
                                                    "description": "Product name",
                                                    "type": "string"
                                            },
                                            "type": {
                                                    "title": "Type",
                                                    "description": "Product type",
                                                    "type": "string",
                                                    "enum": [
                                                            "fixed",
                                                            "rollover",
                                                            "variable"
                                                    ]
                                            }
                                    },
                                    "required": [
                                            "id",
                                            "name",
                                            "type"
                                    ]
                            },
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    }
            }

### Get products data [GET]

Return array of products data

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/product)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/product>; rel="self"

    + Body

            [
                {
                    "id": "100",
                    "name": "Darlehen Fest",
                    "type": "fixed"
                },
                {
                    "id": "923341",
                    "name": "Festhypothek",
                    "type": "fixed"
                },
                {
                    "id": "333333",
                    "name": "Variable Hypothek",
                    "type": "variable"
                },
                {
                    "id": "444444",
                    "name": "Rollover Hypothek",
                    "type": "rollover"
                },
                {
                    "id": "9010390041",
                    "name": "Festhypothek",
                    "type": "fixed"
                }
            ]

# Group Misc

Not grouped services

## current_year [/financing/current_year]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/current_year>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/current_year>; rel="self"

    + Body

            {
                    "GET": {
                            "title": "Year",
                            "description": "Current year",
                            "type": [
                                    "number"
                            ],
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    }
            }

### Get current year [GET]

Return current year on server

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/current_year)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/current_year>; rel="self"

    + Body

            2014

## log [/financing/log]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/log>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/log>; rel="self"

    + Body

            {
                    "GET": {
                            "title": "Log",
                            "description": "Log file",
                            "type": [
                                    "string"
                            ],
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    },
                    "POST": {
                            "type": "object",
                            "properties": {
                                    "category": {
                                            "title": "Category",
                                            "description": "Category",
                                            "type": "string"
                                    },
                                    "event": {
                                            "title": "Event",
                                            "description": "Event",
                                            "type": "string"
                                    },
                                    "label": {
                                            "title": "Label",
                                            "description": "Label",
                                            "type": "string"
                                    }
                            },
                            "required": [
                                    "category",
                                    "event",
                                    "label"
                            ],
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    }
            }

### Get log file [GET]

Return log file

+ Parameters


+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/log)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/log>; rel="self"

    + Body

            {}

### Add log [POST]

Add log and return status of success

+ Parameters

    + category (required,string, `testCategory`) ... Category
    + event (required,string, `testEvent`) ... Event
    + label (required,string, `testLabel`) ... Label

+ Request (application/json)

            {
                "category": "testCategory",
                "event": "testEvent",
                "label": "testLabel"
            }

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/log)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/log?category=testCategory&event=testEvent&label=testLabel>; rel="self"

    + Body

            true
