FORMAT: 1A
HOST: http://api.wcp.vps321.xiag.ch/

# Swisscom web customer portal, mortgage component
API documentation for **Swisscom WCP Mortgage** application.

# Group CSR

Customer Support Representatives

## csr [/financing/csr/{portfolioId}]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/csr/{portfolioId}>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/csr/34231>; rel="self"

    + Body

            {
                    "GET": {
                            "type": "object",
                            "properties": {
                                    "portfolioId": {
                                            "title": "portfolioId",
                                            "description": "Portfolio identifier",
                                            "type": [
                                                    "string",
                                                    "number"
                                            ]
                                    }
                            },
                            "required": [],
                            "additionalProperties": false,
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    },
                    "POST": {
                            "type": "object",
                            "additionalProperties": false,
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    }
            }

### Get CSR [GET]

Return customer support representatives by porfolio identifier

+ Parameters

    + portfolioId (optional,string, `34231`) ... Portfolio identifier

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/csr)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/csr/34231>; rel="self"

    + Body

            {
                "id": "1",
                "firstName": "Jacqueline",
                "lastName": "Bamert",
                "phoneNumber": "+41 58 800 24 14",
                "faxNumber": "058 800 67 01",
                "email": "jacqueline.bamert@szkb.ch",
                "imageURI": "//www.szkb.ch/images/default-source/mitarbeiterfotos/192613.jpg"
            }

### Send CSR request [POST]

Send request for customer support representatives and return status of success

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/csr)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/csr>; rel="self"

    + Body

            true

# Group Portfolio

Portfolios collection

## portfolio [/financing/portfolio]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/portfolio>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/portfolio>; rel="self"

    + Body

            {
                    "GET": {
                            "type": "object",
                            "additionalProperties": false,
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    }
            }

### Get portfolio [GET]

Return portfolio of current customer

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/portfolio)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/portfolio>; rel="self"

    + Body

            {
                "customerId": "1153623-11",
                "creditAccount": "456373-3042",
                "owner": "Grätzer-Inderbitzin M. und S.",
                "productId": "100",
                "rate": "multiple",
                "currency": "CHF",
                "limit": 746000,
                "balance": -576000
            }

# Group Mortgage

Managing **Mortgage** objects

## mortgage [/financing/mortgage]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/mortgage>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/mortgage>; rel="self"

    + Body

            {
                    "GET": {
                            "type": "object",
                            "additionalProperties": false,
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    }
            }

### Get mortgages [GET]

Return an array of mortgages available to the customer

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/mortgage)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/mortgage>; rel="self"

    + Body

            [
                {
                    "id": "17145",
                    "productId": "100",
                    "currency": "CHF",
                    "limit": 800000,
                    "balance": -800000,
                    "owner": {
                        "id": "131841-3006",
                        "name": "Hans Muster"
                    },
                    "object": {
                        "name": "Darlehen 928342-2342",
                        "address": {
                            "street": "Kurzstrasse 22",
                            "zip": "7770",
                            "city": "St.Gallen"
                        }
                    },
                    "products": [
                        {
                            "id": "333333",
                            "rate": "3.01",
                            "amount": 100000,
                            "duration": 25,
                            "valid": {
                                "from": "2010-04-01"
                            }
                        },
                        {
                            "id": "444444",
                            "rate": "3.11",
                            "amount": 110000,
                            "duration": 25,
                            "valid": {
                                "from": "2010-04-01"
                            }
                        },
                        {
                            "id": "9010390041",
                            "rate": "2.45",
                            "amount": 99590654.5,
                            "duration": 5,
                            "valid": {
                                "from": "2010-04-01"
                            },
                            "offerId": "21137"
                        }
                    ]
                },
                {
                    "id": "17146",
                    "productId": "100",
                    "currency": "CHF",
                    "limit": 1200000,
                    "balance": -1200000,
                    "owner": {
                        "id": "131841-4982",
                        "name": "Hans Muster"
                    },
                    "object": {
                        "name": "Darlehen 922231-0092",
                        "address": {
                            "street": "Kurzstrasse 2",
                            "zip": "7770",
                            "city": "St.Gallen"
                        }
                    },
                    "products": [
                        {
                            "id": "333333",
                            "rate": "3.01",
                            "amount": 100000,
                            "duration": 25,
                            "valid": {
                                "from": "2010-04-01"
                            }
                        },
                        {
                            "id": "444444",
                            "rate": "3.11",
                            "amount": 110000,
                            "duration": 20,
                            "valid": {
                                "from": "2010-04-01"
                            }
                        },
                        {
                            "id": "9010390041",
                            "rate": "2.45",
                            "amount": 390000,
                            "duration": 4,
                            "valid": {
                                "from": "2010-12-02"
                            },
                            "offerId": "21973"
                        },
                        {
                            "id": "9010390041",
                            "rate": "2.05",
                            "amount": 300000,
                            "duration": 4,
                            "valid": {
                                "from": "2011-07-01"
                            },
                            "offerId": "21973"
                        },
                        {
                            "id": "9010390041",
                            "rate": "2.15",
                            "amount": 300000,
                            "duration": 28,
                            "valid": {
                                "from": "2011-07-01"
                            }
                        }
                    ]
                }
            ]

## configuration [/financing/configuration/{mortgageId}]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/configuration/{mortgageId}>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/configuration/17146>; rel="self"

    + Body

            {
                    "GET": {
                            "type": "object",
                            "properties": {
                                    "mortgageId": {
                                            "title": "Mortgage id",
                                            "description": "Mortgage identifier",
                                            "type": [
                                                    "string",
                                                    "number"
                                            ]
                                    },
                                    "userId": {
                                            "title": "User id",
                                            "description": "Mortgage identifier",
                                            "type": [
                                                    "string",
                                                    "number"
                                            ]
                                    }
                            },
                            "required": [
                                    "mortgageId"
                            ],
                            "additionalProperties": false,
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    },
                    "POST": {
                            "type": "object",
                            "properties": {
                                    "mortgageId": {
                                            "title": "Mortgage id",
                                            "description": "Mortgage identifier",
                                            "type": [
                                                    "string",
                                                    "number"
                                            ]
                                    },
                                    "configured": {
                                            "title": "Mortage configuration object",
                                            "description": "Configuration object of mortgage",
                                            "type": "object",
                                            "properties": {
                                                    "products": {
                                                            "title": "Initial",
                                                            "description": "Initial configuration array",
                                                            "type": "array",
                                                            "items": {
                                                                    "title": "Product",
                                                                    "description": "",
                                                                    "type": "object",
                                                                    "properties": {
                                                                            "id": {
                                                                                    "title": "Id",
                                                                                    "description": "Product identifier",
                                                                                    "type": [
                                                                                            "string",
                                                                                            "number"
                                                                                    ]
                                                                            },
                                                                            "rate": {
                                                                                    "title": "Rate",
                                                                                    "description": "Product rate",
                                                                                    "type": "string"
                                                                            },
                                                                            "amount": {
                                                                                    "title": "Amount",
                                                                                    "description": "Credit amount",
                                                                                    "type": "number"
                                                                            },
                                                                            "duration": {
                                                                                    "title": "Duration",
                                                                                    "description": "Duration of product",
                                                                                    "type": "number"
                                                                            },
                                                                            "valid": {
                                                                                    "title": "Valid",
                                                                                    "description": "Credit period",
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                            "from": {
                                                                                                    "title": "From",
                                                                                                    "description": "Credit period start",
                                                                                                    "type": "string",
                                                                                                    "format": "date-time"
                                                                                            },
                                                                                            "to": {
                                                                                                    "title": "To",
                                                                                                    "description": "Credit period end",
                                                                                                    "type": "string",
                                                                                                    "format": "date-time"
                                                                                            }
                                                                                    },
                                                                                    "required": [
                                                                                            "from"
                                                                                    ],
                                                                                    "additionalProperties": false
                                                                            },
                                                                            "offerId": {
                                                                                    "type": [
                                                                                            "string",
                                                                                            "number"
                                                                                    ]
                                                                            }
                                                                    },
                                                                    "required": [
                                                                            "id",
                                                                            "rate",
                                                                            "amount",
                                                                            "valid"
                                                                    ],
                                                                    "additionalProperties": false
                                                            }
                                                    },
                                                    "step": {
                                                            "title": "Step",
                                                            "description": "Step",
                                                            "type": "string"
                                                    }
                                            },
                                            "required": [
                                                    "products"
                                            ],
                                            "additionalProperties": false
                                    },
                                    "userId": {
                                            "title": "User id",
                                            "description": "Mortgage identifier",
                                            "type": [
                                                    "string",
                                                    "number"
                                            ]
                                    }
                            },
                            "required": [
                                    "mortgageId",
                                    "configured"
                            ],
                            "additionalProperties": false,
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    }
            }

### Get mortgage configuration [GET]

Return configuration object of mortgage

+ Parameters

    + mortgageId (required,string, `17146`) ... Mortgage identifier

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/configuration)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/configuration/17146>; rel="self"

    + Body

            {
                "initial": [
                    {
                        "id": "9010390041",
                        "rate": "2.45",
                        "amount": 390000,
                        "valid": {
                            "from": "2010-06-02",
                            "to": "2014-01-01"
                        },
                        "offerId": "21973"
                    },
                    {
                        "id": "9010390041",
                        "rate": "2.05",
                        "amount": 300000,
                        "valid": {
                            "from": "2011-07-01",
                            "to": "2015-06-30"
                        },
                        "offerId": "21973"
                    },
                    {
                        "id": "9010390041",
                        "rate": "2.15",
                        "amount": 300000,
                        "valid": {
                            "from": "2011-07-01",
                            "to": "2037-06-30"
                        }
                    }
                ],
                "configured": {
                    "products": [
                        {
                            "id": "9010390041",
                            "rate": "2.45",
                            "amount": 390000,
                            "valid": {
                                "from": "2010-06-02",
                                "to": "2014-01-01"
                            }
                        }
                    ]
                }
            }

### Save mortgage configuration [POST]

Save configuration object of mortgage and return status of success

+ Parameters

    + mortgageId (required,string, `17146`) ... Mortgage identifier
    + configured (required) ... Configuration object of mortgage

+ Request (application/json)

            {
                "mortgageId": "17146",
                "configured": {
                    "products": [
                        {
                            "id": "9010390041",
                            "rate": "2.45",
                            "amount": 390000,
                            "valid": {
                                "from": "2010-06-02",
                                "to": "2014-01-01"
                            }
                        }
                    ]
                }
            }

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/configuration)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/configuration/17146>; rel="self"

    + Body

            true

# Group Offer

Offer as a products collection for mortgage part extension

## offer [/financing/offer/{offerId}]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/offer/{offerId}>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/offer/21137>; rel="self"

    + Body

            {
                    "GET": {
                            "type": "object",
                            "properties": {
                                    "offerId": {
                                            "title": "Offer id",
                                            "description": "Offer identifier for  products",
                                            "type": [
                                                    "string",
                                                    "number"
                                            ]
                                    }
                            },
                            "required": [
                                    "offerId"
                            ],
                            "additionalProperties": false,
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    }
            }

### Get offer products [GET]

Return array of products by offer identifier

+ Parameters

    + offerId (required,string, `21137`) ... Offer identifier for  products

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/offer)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/offer/21137>; rel="self"

    + Body

            [
                {
                    "id": "9010390041",
                    "duration": 2,
                    "actualMargin": "1.50",
                    "minimalAmount": 100000
                },
                {
                    "id": "9010390041",
                    "duration": 3,
                    "actualMargin": "2.00",
                    "minimalAmount": 100000
                },
                {
                    "id": "9010390041",
                    "duration": 4,
                    "actualMargin": "2.25",
                    "minimalAmount": 100000
                },
                {
                    "id": "9010390041",
                    "duration": 5,
                    "actualMargin": "2.50",
                    "minimalAmount": 100000
                },
                {
                    "id": "9010390041",
                    "duration": 6,
                    "actualMargin": "2.75",
                    "minimalAmount": 100000
                },
                {
                    "id": "9010390041",
                    "duration": 7,
                    "actualMargin": "3.00",
                    "minimalAmount": 100000
                },
                {
                    "id": "9010390041",
                    "duration": 8,
                    "actualMargin": "3.25",
                    "minimalAmount": 100000
                },
                {
                    "id": "9010390041",
                    "duration": 9,
                    "actualMargin": "3.50",
                    "minimalAmount": 100000
                },
                {
                    "id": "9010390041",
                    "duration": 10,
                    "actualMargin": "3.75",
                    "minimalAmount": 100000
                }
            ]

# Group Product

Products collection

## product [/financing/product]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/product>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/product>; rel="self"

    + Body

            {
                    "GET": {
                            "type": "object",
                            "additionalProperties": false,
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    }
            }

### Get products data [GET]

Return array of products data

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/product)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/product>; rel="self"

    + Body

            [
                {
                    "id": "100",
                    "name": "Darlehen Fest",
                    "type": "fixed"
                },
                {
                    "id": "923341",
                    "name": "Festhypothek",
                    "type": "fixed"
                },
                {
                    "id": "333333",
                    "name": "Variable Hypothek",
                    "type": "variable"
                },
                {
                    "id": "444444",
                    "name": "Rollover Hypothek",
                    "type": "rollover"
                },
                {
                    "id": "9010390041",
                    "name": "Festhypothek",
                    "type": "fixed"
                }
            ]

# Group Misc

Not grouped services

## current_year [/financing/current_year]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/current_year>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/current_year>; rel="self"

    + Body

            {
                    "GET": {
                            "type": "object",
                            "additionalProperties": false,
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    }
            }

### Get current year [GET]

Return current year on server

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/current_year)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/current_year>; rel="self"

    + Body

            2014

## mail [/financing/mail]

### Get schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/mail>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/mail?recipient=iprokopchuk%40xiag.ch&subject=Test&text=Hello!>; rel="self"

    + Body

            {
                    "POST": {
                            "type": "object",
                            "properties": {
                                    "recipient": {
                                            "title": "Mortgage id",
                                            "description": "Recipient e-mail",
                                            "type": "string",
                                            "format": "email"
                                    },
                                    "subject": {
                                            "title": "Subject",
                                            "description": "Subject of message",
                                            "type": "string"
                                    },
                                    "text": {
                                            "title": "Text",
                                            "description": "Message in text format",
                                            "type": "string"
                                    },
                                    "html": {
                                            "title": "HTML",
                                            "description": "Message source in html format",
                                            "type": "string"
                                    }
                            },
                            "required": [
                                    "recipient"
                            ],
                            "additionalProperties": false,
                            "$schema": "http://json-schema.org/draft-04/schema#"
                    }
            }

### Send e-mail [POST]

Send e-mail and return status of success

+ Parameters

    + recipient (required,string, `iprokopchuk@xiag.ch`) ... Recipient e-mail
    + subject (optional,string, `Test`) ... Subject of message
    + text (optional,string, `Hello!`) ... Message in text format
    + html (optional,string, `undefined`) ... Message source in html format

+ Request (application/json)

            {
                "recipient": "iprokopchuk@xiag.ch",
                "subject": "Test",
                "text": "Hello!"
            }

+ Response 200 (application/json; charset=UTF-8; profile=http://api.wcp.vps321.xiag.ch/schema/financing/mail)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/financing/mail?recipient=iprokopchuk%40xiag.ch&subject=Test&text=Hello!>; rel="self"

    + Body

            true
