FORMAT: 1A
HOST: http://api.wcp.vps321.xiag.ch/

# Swisscom web customer portal, mortgage component
API documentation for **Swisscom WCP Mortgage** application.

# Group Mortgages
Managing **Mortgage** objects

## Mortgages Collection [/financing/mortgage]

### Get Mortgage collection schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/mortgage/collection>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/mortgage>; rel="self"

    + Body

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "description": "Mortgage collection schema",
                "type": "array",
                "title": "Array of mortgage objects",
                "description": "Mortgage object list available for customer",
                "items": {
                    "type": "object",
                    "title": "Mortgage",
                    "description": "Mortgage object available for customer",
                    "properties": {
                        "id": {
                            "type": "string",
                            "title": "Id",
                            "description": "Mortgage identifier"
                        },
                        "currency": {
                            "type": "string",
                            "title": "ISO 4217 Currency Code",
                            "format": "iso4217",
                            "pattern": "^[A-Z]{3}$",
                            "description": "Mortgage currency"
                        },
                        "limit": {
                            "type": "number",
                            "minimum": 0,
                            "title": "Mortgage limit"
                        },
                        "balance": {
                            "type": "number",
                            "maximum": 0,
                            "title": "Mortgage balance"
                        },
                        "owner": {
                            "type": "object",
                            "title": "Owner",
                            "description": "Mortgage owner information",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "title": "Id",
                                    "description": "Mortgage owner identifier"
                                },
                                "name": {
                                    "type": "string",
                                    "title": "Name",
                                    "description": "Mortgage owner name"
                                }
                            },
                            "required": [
                                "id",
                                "name"
                            ]
                        },
                        "object": {
                            "type": "object",
                            "title": "Mortgage object",
                            "description": "Mortgage object information",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "title": "Name",
                                    "description": "Mortgage object name"
                                },
                                "additional": {
                                    "type": "string",
                                    "title": "Additional data",
                                    "description": "Mortgage object additional data"
                                }
                            },
                            "required": [
                                "name"
                            ]
                        },
                        "products": {
                            "type": "array",
                            "title": "Array of mortgage product",
                            "description": "Current mortgage products configuration",
                            "items": {
                                "type": "object",
                                "title": "Product",
                                "description": "Mortgage product",
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "title": "Id",
                                        "description": "Product identifier"
                                    },
                                    "rate": {
                                        "type": "string",
                                        "pattern": "^\\d+\\.\\d{2}$",
                                        "title": "Rate",
                                        "description": "Product rate"
                                    },
                                    "amount": {
                                        "type": "number",
                                        "minimum": 0,
                                        "exclusiveMinimum": true,
                                        "title": "Product amount"
                                    },
                                    "valid": {
                                        "type": "object",
                                        "title": "Valid",
                                        "description": "Product validation interval",
                                        "properties": {
                                            "from": {
                                                "type": "string",
                                                "format": "date",
                                                "title": "From",
                                                "description": "Start interval value"
                                            },
                                            "to": {
                                                "type": "string",
                                                "format": "date",
                                                "title": "To",
                                                "description": "End interval value"
                                            }
                                        },
                                        "required": [
                                            "from",
                                            "to"
                                        ]
                                    },
                                    "offerId": {
                                        "type": "string",
                                        "title": "Offer Id",
                                        "description": "Product configuration offer identifier"
                                    }
                                },
                                "required": [
                                    "id",
                                    "rate",
                                    "amount",
                                    "valid"
                                ]
                            },
                            "minItems": 1,
                            "uniqueItems": true
                        }
                    },
                    "required": [
                        "id",
                        "currency",
                        "limit",
                        "balance",
                        "owner",
                        "object",
                        "products"
                    ]
                },
                "minItems": 1,
                "uniqueItems": true
            }

### List all Mortgages [GET]

It describes how a record looks and returns contents
that may be used to build human readable interfaces.

+ Response 200 (application/json)

        [
            {
                "id": "17145",
                "currency": "CHF",
                "limit": 590000,
                "balance": -590000,
                "owner": {
                    "id": "131841-3006",
                    "name": "Hans Muster"
                },
                "object": {
                    "name": "Haus 1",
                    "additional": "Kurzstrasse 22 7770 St.Gallen"
                },
                "products": [
                    {
                        "id": "9010390041",
                        "rate": "2.45",
                        "amount": 590000,
                        "valid": {
                            "from": "2010-04-01",
                            "to": "2015-03-31"
                        },
                        "offerId": "21137"
                    }
                ]
            },
            {
                "id": "17146",
                "currency": "CHF",
                "limit": 490000,
                "balance": -490000,
                "owner": {
                    "id": "131841-4982",
                    "name": "Hans Muster"
                },
                "object": {
                    "name": "Object 2",
                    "additional": "Kurzstrasse 2 1770 St.Gallen"
                },
                "products": [
                    {
                        "id": "9010390041",
                        "rate": "2.45",
                        "amount": 190000,
                        "valid": {
                            "from": "2010-06-01",
                            "to": "2015-05-31"
                        },
                        "offerId": "21973"
                    },
                    {
                        "id": "9010390041",
                        "rate": "2.05",
                        "amount": 300000,
                        "valid": {
                            "from": "2011-07-01",
                            "to": "2016-06-30"
                        }
                    }
                ]
            }
        ]

## Mortgage [/financing/mortgage/{id}]
A single Mortgage object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Mortgage to perform action with. Has example value.

### Retrieve a Mortgage [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            {
                "id": 1,
                "account_id": 101,
                "customer_id": 201,
                "portfolio_id": 301,
                "product_id": 401,
                "current_interest_rate": 7,
                "valid_from": "2014-08-01",
                "valid_to": "2014-08-31",
                "total_max_amount": 1000000,
                "amount": 900000,
                "pricing_offer_id": 501,
                "online_flag": true,
                "links": [
                    {
                        "rel": "self",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/mortgage/1"
                    },
                    {
                        "rel": "account",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/account/101"
                    },
                    {
                        "rel": "customer",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/customer/201"
                    },
                    {
                        "rel": "portfolio",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/portfolio/301"
                    },
                    {
                        "rel": "product",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/product/401"
                    }
                ]
            }
