FORMAT: 1A
HOST: http://api.wcp.vps321.xiag.ch/

# Swisscom web customer portal, mortgage component
API documentation for **Swisscom WCP Mortgage** application.

# Group Mortgages
Managing **Mortgage** objects

## Mortgages Collection [/financing/mortgage]

### Get Mortgage collection schema [OPTIONS]

+ Response 200 (application/schema+json)

    + Header

            Content-Language: en
            Link: <http://api.wcp.vps321.xiag.ch/schema/financing/mortgage/collection>; rel="canonical", <http://api.wcp.vps321.xiag.ch/financing/mortgage>; rel="self"

    + Body

            {
              "type": "array",
              "title": {
                "en": "Array of mortgage objects"
              },
              "description": {
                "en": "Mortgage object list available for customer"
              },
              "items": {
                "type": "object",
                "title": {
                  "en": "Mortgage"
                },
                "description": {
                  "en": "Mortgage object available for customer"
                },
                "properties": {
                  "id": {
                    "type": "string",
                    "title": {
                      "en": "Id"
                    },
                    "description": {
                      "en": "Mortgage identifier"
                    }
                  },
                  "currency": {
                    "type": "string",
                    "title": {
                      "en": "ISO 4217 Currency Code",
                    },
                    "format": "iso4217",
                    "pattern": "^[A-Z]{3}$",
                    "description": {
                      "en": "Mortgage currency"
                    }
                  },
                  "limit": {
                    "type": "number",
                    "minimum": 0
                    #TODO title, description
                  },
                  "balance": {
                    "type": "number",
                    "maximum": 0
                    #TODO title, description
                  }


                  "accountId": {
                    "type": "string",
                    "title": {
                      "en": "Account id"
                    },
                    "description": {
                      "en": "Mortgage owner account identifier"
                    }
                  },
                  "product": {
                    "type": "object",
                    "title": {
                      "en": "Product"
                    },
                    "description": {
                      "en": "Mortgage product information"
                    },
                    "properties": {
                      "productId": {
                        "type": "string",
                        "title": {
                          "en": "Product Id"
                        },
                        "description": {
                          "en": "Mortgage product identifier"
                        }
                      },
                      "accountOwner": {
                        "type": "string",
                        "title": {
                          "en": "Owner name"
                        },
                        "description": {
                          "en": "Account owner name"
                        }
                      }
                    }
                  }

                }
              }
            }

It describes how a record looks and returns contents
that may be used to build human readable interfaces.

### List all Mortgages [GET]
+ Response 200 (application/json)

        [
            {
                "id": 1,
                "portfolio_id": 301,
                "links": [
                    {
                        "rel": "self",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/mortgage/1"
                    },
                    {
                        "rel": "portfolio",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/portfolio/301"
                    }
                ]
            },
            {
                "id": 2,
                "portfolio_id": 301,
                "links": [
                    {
                        "rel": "self",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/mortgage/2"
                    },
                    {
                        "rel": "portfolio",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/portfolio/301"
                    }
                ]
            }
        ]

## Mortgage [/financing/mortgage/{id}]
A single Mortgage object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Mortgage to perform action with. Has example value.

### Retrieve a Mortgage [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            {
                "id": 1,
                "account_id": 101,
                "customer_id": 201,
                "portfolio_id": 301,
                "product_id": 401,
                "current_interest_rate": 7,
                "valid_from": "2014-08-01",
                "valid_to": "2014-08-31",
                "total_max_amount": 1000000,
                "amount": 900000,
                "pricing_offer_id": 501,
                "online_flag": true,
                "links": [
                    {
                        "rel": "self",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/mortgage/1"
                    },
                    {
                        "rel": "account",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/account/101"
                    },
                    {
                        "rel": "customer",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/customer/201"
                    },
                    {
                        "rel": "portfolio",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/portfolio/301"
                    },
                    {
                        "rel": "product",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/product/401"
                    }
                ]
            }
