FORMAT: 1A
HOST: http://api.wcp.vps321.xiag.ch/

# Swisscom web customer portal, mortgage component
API documentation for **Swisscom WCP Mortgage** application.

# Group Mortgages
Managing **Mortgage** objects

## Mortgages Collection [/financing/mortgage]
### List all Mortgages [GET]
+ Response 200 (application/json)

        [
            {
                "id": 1,
                "portfolio_id": 301,
                "links": [
                    {
                        "rel": "self",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/mortgage/1"
                    },
                    {
                        "rel": "portfolio",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/portfolio/301"
                    }
                ]
            },
            {
                "id": 2,
                "portfolio_id": 301,
                "links": [
                    {
                        "rel": "self",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/mortgage/2"
                    },
                    {
                        "rel": "portfolio",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/portfolio/301"
                    }
                ]
            }
        ]

## Mortgage [/financing/mortgage/{id}]
A single Mortgage object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Mortgage to perform action with. Has example value.

### Retrieve a Mortgage [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            {
                "id": 1,
                "account_id": 101,
                "customer_id": 201,
                "portfolio_id": 301,
                "product_id": 401,
                "current_interest_rate": 7,
                "valid_from": "2014-08-01",
                "valid_to": "2014-08-31",
                "total_max_amount": 1000000,
                "amount": 900000,
                "pricing_offer_id": 501,
                "online_flag": true,
                "links": [
                    {
                        "rel": "self",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/mortgage/1"
                    },
                    {
                        "rel": "account",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/account/101"
                    },
                    {
                        "rel": "customer",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/customer/201"
                    },
                    {
                        "rel": "portfolio",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/portfolio/301"
                    },
                    {
                        "rel": "product",
                        "$ref": "http://swisscomwcpmortgage.apiary-mock.com/financing/product/401"
                    }
                ]
            }
